/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1600px;
    max-width: 100%;
  }


    /* # HEADER */

  .header{
    background-color: #FF6900;
    height: 70px;
    width: 100%;
    color: white;
    font-family: sans-serif;
  }

  .navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 70px;
  }

  .container-icon, .container-categories, .container-other{
    height: 30px;
    line-height: 30px;
  }

  .container-icon{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .categories{
    list-style: none;
    display: flex;
  }

  .categories>li>strong, .container-other>i{
    margin: 0 5px;
  }

  .icon{
    height: 30px;
  }


  /* # MAIN */

  .section{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    height: 1500px;
    margin-top: 40px;
    justify-content: space-between;
  }

  .card-container{
    height: 800px;
    margin: 10px 10px;
  }

  .image{
    height: 700px;
  }

  .image>.img1{
    height: 700px;
  }

  .image>.img2{
    height: 700px;
    display: none;
  }

  .info>p{
    font-size: 14px;
  }

  .info>p>strong>span{
    color: red;
  }

  .heart-container{
    height: 60px;
    width: 60px;
    background-color: white;
    position: relative;
    left: 425px;
    bottom: 740px;
    line-height: 60px;
    text-align: center;
  }

  .card-container:hover .img1{
    display: none;
  }

  .card-container:hover .img2{
    display: block;
  }

  .heart-container:hover i{
    color: red;
  }